rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Helper functions
    function isSignedIn() { return request.auth != null; }
    function isOwner(userId) { return isSignedIn() && request.auth.uid == userId; }

    // Practitioners - need to be readable by the client to verify PIN logins.
    match /practitioners/{practitionerId} {
      allow read, write: if true;
    }

    // Bookings
    match /bookings/{bookingId} {
      allow read, write: if true;
    }

    match /groupEvents/{eventId} {
      allow read, write: if true;
    }

    match /eventRegistrations/{regId} {
      allow read, write: if true;
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
